    @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        margin: 0;
        font-family: 'Ubuntu', sans-serif;
        font-size: 12px;
        
    }
    .topbar{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: calc(100% - 20%);
        height: 50px;
        position: fixed;
        top:0;
        right:0;
        z-index: 999999;
        background: linear-gradient(#232526,#414345);


    }

    .premium{
        width:100px;
        position: absolute ;
        right:30px;
    }

    .premium button{
        padding:8px 20px;
        border:none;
        border-radius:15px;
        font-family: Arial;
        background-color: #FEBE10;
        font-weight: 500;
        font-size: 14px;
        cursor: pointer;
    }
    .premium button:hover{
        background-color: #F0E68C;
        transition: ease-in-out .2s;
    }
    .activity{
        position: absolute;
        right:160px;
        border-radius: 80%;
        padding:2px;
        border: solid 1px #FEBE10;
    }
    .activity i{
        font-size: 25px;
        cursor: pointer;
        color:#FEBE10;
    }

    .search-box{
        position: absolute;
        left:60px;
    }
    .search-box input{
        padding:5px 20px;
        border: none;
        border-radius: 20px;
        background-color: lightgray;
        font-weight: 500;
        font-size: medium;
        outline: none;
    }
    .search-box button{
        background: none;
        border: none;
    }
    .search-box i{
        color:#ffffff;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
    }

    #search-results {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .search-result-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border:none;
        border-radius: 25px;
        padding: 10px;
        background: linear-gradient(#4cb8c4,#3cd3ad);   
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .search-result-item:hover {
        background-color: #e0e0e0;
    }

    .song-info {
        flex-grow: 1;
    }

    .play-icon {
        margin-left: 10px;
    }

    .sidebar{
        width: 20%;
        height: 100%;
        padding: 16px;
        background: #383838;
        position: fixed;
        left: 0;
        top:0;
        bottom: 0;
        display: block;
    }
    .sidebar .logo img{
        width: 40px;
        height: 40px;
        object-fit: cover;
    }

    .sidebar .menu,
    .sidebar .library,
    .sidebar .my-playlist {
        border-top: 1px solid #555;
        padding-top: 10px;
        margin-top: 10px;
    }

    .logo{
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        gap: 5px;
    }


    .logo-text{
        color:#ffffff;
        font-size: 3em;
        font-weight: 800;
        text-align: center;
    }
    .logo-text:hover{
        color:gray;
        transition: ease-in-out .1s;
    }

    .menu,
    .library,
    .my-playlist {
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
    }

    .menu a,
    .library a,
    .my-playlist a {
        color:#d7d7d7;
        outline:none;
        text-decoration: none;
        margin:2px auto;
        padding: 12px 25px;
        font-weight: 500;
        font-size: 14px;
        width:100%;
    }

    .menu a:hover,
    .library a:hover,
    .my-playlist a:hover{
        color:#ffffff;
        border-radius: 7px;
        background-color: #FEBE10;
        transition: ease-in-out .5s;
    }

    .menu p,
    .library p,
    .my-playlist p { 
        color:#ffffff;
        font-weight: 800;
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    .menu i,
    .library i,
    .my-playlist i{
        margin-right: 6px;
    }

    .menu-active {
        border-radius: 7px;
        background-color: #FEBE10;
        color:#ffffff !important;
    }


    .main{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        min-width: 80%; 
    }

    .background{
        position: fixed;
        width: 200%;
        height: 200%;
        top: -50%;
        left: -50%;
        z-index: -1;
        background: linear-gradient(180deg,#aa4b6b,#6b6b83,#3b8d99);

    }

    .background img{
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        min-width: 50%;
        min-height: 50%;
        filter: blur(15px);
        -webkit-filter: blur(50px);
        transform: scale(1.1);
    }

    .music-player{
        width: 400px;
        margin: 120px auto auto auto;
    }
    .container{
        background: linear-gradient(#757f9a,#d7dde8);
        height: 400px;
        width: 400px;
        border-radius: 20px;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
        transition: all 0.5s ease;
        display: inline-block;
    }

    .container:hover{
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
    }

    .player-img{
        width: 300px;
        height: 300px;
        position: relative;
        top: -50px;
        left: 50px;
    }

    .player-img img{
        object-fit: cover;
        border-radius: 20px;
        height: 0;
        width: 0;
        opacity: 0;
        box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
    }

    .player-img:hover img{
        box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.8);
    }

    .player-img img.active{
        width: 100%;
        height: 100%;
        transition: all 0.5s;
        opacity: 1;
    }

    h2, h3{
        font-size: 18px;
        text-align: center;
        font-weight: 500;
        margin: 10px 0 0;
    }
    .music-duration{
        color:#ffffff;
        font-weight: 500;
    }
    .player-progress{
        background-color: lightgray;
        border-radius: 5px;
        cursor: pointer;
        margin: 40px 20px 35px;
        height: 6px;
        width: 90%;
    }

    .progress{
        background-color: #FEBE10;
        border-radius: 50px;
        height: 100%;
        width: 0%;
        transition: width 0.1s linear;
    }

    .music-duration{
        position: relative;
        top: -25px;
        display: flex;
        justify-content: space-between;
    }

    .progress-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        right:0;
        bottom:0;
        width: calc(100% - 20%);
        background:linear-gradient(#bdc3c7,#2c3e50);
        padding-bottom: 10px;
    }

    .player-controls{
        margin-top: -25px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content:center;
        vertical-align: top;
        gap: 10px;
    }
    .player-controls i {
        font-size: 25px;
        color: #e7e7e7;
        cursor: pointer;
        transition: transform 0.2s, color 0.2s;
    }

    .player-controls i:hover {
        color: #FEBE10; /* Accent color */
        transform: scale(1.2); /* Slight zoom effect */
    }


    .fa-solid, #volume{
        font-size: 20px;
        color:#e7e7e7;
        cursor: pointer;
        user-select: none;
        transition: all 0.3s ease;
    }

    .volume-control {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        
    }

    #volume{
        display: none;
        width: 80px;
        transition: opacity 0.3s ease-in-out;
        border: none;
        outline: none;
    }

    #volume-slider.hidden {
        opacity: 0;
        pointer-events: none;
    }


    .fa-solid:hover{
        filter: brightness(40%);
    }

    .play-button{
        font-size: 30px;
        position: relative;
        
    }

    .song-list-container {
        margin: 50px 0 0 0;
        padding:10px;
        background: linear-gradient(#d7dde8,#757f9a);
        border-radius: 20px;
        height: 400px;
        width: 350px;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
        transition: all 0.5s ease;
        position: fixed;
        right:10px;
        top:70px;
        overflow: auto;
    }
    .song-list-container:hover{
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
    }

    /* Hide scrollbar for Chrome, Safari, and Edge */
    .song-list-container::-webkit-scrollbar {
        width: 0;
    }
    .song-list-container::-webkit-scrollbar-thumb {
        background-color: #888;
    }

    body.dark-mode {
        background: #121212;
        color: #e7e7e7;
    }

    body.dark-mode .sidebar {
        background: #1e1e1e;
    }

    body.dark-mode .song-item {
        background: #2c2c2c;
    }

    body.dark-mode .song-item:hover {
        background: #FEBE10;
        color: #fff;
    }


    #song-list {
        list-style-type: none;
        padding: 0;
        margin:0;
    }

    .song-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px;
        border-radius: 8px;
        background: linear-gradient(135deg, #f3f3f3, #e1e1e1);
        transition: all 0.3s ease;
    }

    .song-item:hover {
        background: #FEBE10;
        color: #fff;
        transform: scale(1.02);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }

    .song-item button i{
        color:black;
    }

    .song-cover {
        width: 50px;
        height: 50px;
        object-fit: cover;
        margin-right: 10px;
    }

    .song-info {
        flex-grow: 1;
    }

    .play-button {
        background: none;
        border: none;
        font-size: 20px;
        cursor: pointer;
    }



    #shuffle.active, #repeat.active {
        color: #FEBE10; /* Adjust the color to match your design */
    }

    @media only screen and (max-width: 600px) {
        .sidebar {
        width: 100%;
        position: static;
        height: auto;
        }
    
        .menu,
        .library,
        .my-playlist {
        height: auto;
        }
    
        .container {
        width: 100%;
        }
    
        .player-img {
        width: 100%;
        height: auto;
        left: 0;
        position: relative;
        }
    
        .player-controls {
        flex-direction: column;
        gap: 8px;
        }
    }

    section {
        width: calc(100% - 20%); /* Subtract the width of the sidebar */
        margin-left: 20%; /* Set margin to match the width of the sidebar */
        box-sizing: border-box;
    }


    .loader {
        border: 6px solid #f3f3f3;
        border-top: 6px solid #FEBE10;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 0.8s linear infinite;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }


    /* Add this media query to adjust the layout for smaller screens */
    @media (max-width: 600px) {
        .sidebar {
            display: none; /* Hide sidebar on mobile */
        }

        section {
            margin-left: 0;
            width: 100%;
        }

        .music-player {
            width: 100%;
            margin: 20px auto;
        }

        .song-list-container {
            width: 100%;
            height: auto;
            margin: 10px 0;
        }
    }

    @media (max-width: 600px) {
        .music-player {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 60%;
            background: #232526;
            z-index: 1000;
            border-radius: 20px 20px 0 0;
            overflow-y: auto;
        }
    }

    .player-img img.active {
        animation: fadeIn 0.5s ease-in-out;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: scale(0.9);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

